<nav>
 <a href="{{root}}index.html" class="logo-link" aria-label="Kembali ke beranda"><img src="{{root}}images/logo.png" alt="XL SATU - Internet Rumah untuk Keluarga"></a>
 <div class="nav-links">
 <a href="{{root}}index.html#paket">Paket</a>
 <a href="{{root}}index.html#faq">FAQ</a>
 <a href="{{root}}blog.html" class="on">Blog</a>
 <a href="{{root}}index.html#bantuan">Hubungi Kami</a>
 </div>
 <div class="nav-cta-group">
 <a href="{{root}}index.html#daftar" class="nav-cta nav-cta-outline">Cek Coverage</a>
 </div>
</nav>